@import "tailwindcss";

@theme {
  --color-fem-red: #B31312;
  --color-fem-dark: #0A0A0A;
}

/* TEMA CLARO (Dia) */
:root {
  --background: #ffffff; /* Fundo Branco */
  --foreground: #0A0A0A; /* Texto Preto para leitura */
}

/* TEMA ESCURO (Noite) */
.dark {
  --background: #000000; 
  --foreground: #ededed;
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
}